.banner {
    width: 100%;
    height: auto;
    background-color: #FAF3EA;
    padding: 100px 0; 
    display: flex;
    justify-content: center;
}

.content-banner {
    display: flex;
    height: auto;
    flex-direction: row;
    align-items: center;
    grid-row: 4;
    gap: 10px;
}

.benefits {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.image-container {
    width: 60px;
    height: 60px;
}


.text-container p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color:#898989;

}

.text-container h3{
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    color:black;

}

@media (max-width: 1028px) {
.content-banner {
    width: 90%;
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    gap: 10px; 
}
    
.benefits {
    flex: 1; 
    width: fit-content; 
}
}