.section-carrossel{
    display: flex;
    background-color: #FCF8F3 ;
    flex-direction: row;
    justify-content: right;
    overflow: hidden;
}


.section-carrossel {
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title-carrossel {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .title-carrossel h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .title-carrossel p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .title-carrossel button {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .title-carrossel button:hover {
    background-color: #ff8c00;
  }
  
  .slick-slider {
    position: relative;
  }
  
  .slick-list {
    overflow: hidden;
  }
  
  .slick-slide {
    transition: transform 0.5s ease-in-out;
  }
  
  .carrossel-item {
    position: relative;
    padding: 10px;
  }
  
  .carrossel-item img {
    width: 100%;
    border-radius: 10px;
  }
  
  .description-image {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
  }
  
  .description-image h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .description-image p {
    font-size: 14px;
    color: #666;
  }
  
  .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  
  .slick-dots li {
    margin: 0 5px;
  }
  
  .slick-dots li button {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    border: none;
  }
  
  .slick-dots li.slick-active button {
    background-color: #333;
  }
