.herohome {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  object-fit: cover; 
}

.herohome img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;
}
