.navpage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #FAF3EA;
    gap: 10px;
    width: 100%;
    max-height: 100px;
    padding-inline: 5%;
    padding-block: 2%;
}
.link{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #9F9F9F;
    text-decoration: none;
}

.product-name{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: black;
    width: 100%;
}