.our-products{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    padding-inline: 8%;
    text-align: center;
    overflow: hidden;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.cards-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: space-between;
  }

@media (max-width: 1028px) {
    .cards-area {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .cards-area {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  

  @media (max-width: 480px) {
    .cards-area {
      grid-template-columns: repeat(1, 1fr);
    }
  }