.section-cart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 5%;
}

.cart-infos {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.order-product {
    width: 65%;
}

.header-products {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #f9f1e7;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: black;
    margin-bottom: 15px;
}

.row-product {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.image-product {
    width: 108px;
    height: 105px;
    background-color: bisque;
    margin-right: 10px;
}

.product-name {
    flex: 1;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    margin-right: 20px;
}

.product-price,
.product-subtotal {
    width: 100px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9F9F9F;
    text-align: center;
    margin-right: 20px;
}

.quantity-control {
    display: flex;
    align-items: center;
    width: 100px;
    margin-right: 20px;
    border: #000 solid 1px;
    border-radius: 8px;
}

.quantity-btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    cursor: pointer;
    border: none;
}

.quantity {
    width: 40px;
    text-align: center;
}

.icon-delete {
    width: 21px;
    height: 21.88px;
    cursor: pointer;
}

.card-totals {
    width: 30%;
    background-color: #f9f1e7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: Poppins, sans-serif;
}

.cart-totals-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 20px;
}

.totals-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
}

.subvalue, .total-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9F9F9F;
}

.total-value {
    color: #B88E2F;
}

.btn-checkout {
    width: 222px;
    height: 58.95px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

@media (max-width: 1028px)  {
    .cart-infos {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    .btn-checkout {
        width: 100px;
        height: 38.95px;
    }
}
