.section-shop {
  width: 100%;
  padding: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 8%;
}

.pagination-button {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.pagination-button.active {
  background-color: #B88E2F;
  color: white;
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-button:not(:disabled):hover {
  background-color: #996C2F;
}